<div class="description-container">
  <div class="description-complete">
    <div class="description-text">
      <h1>Hi, I am John,<br /> Creative Technologist</h1>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet<br
        />
        sint. Velit officia consequat duis enim velit mollit. Exercitation veniam
        <br />
        consequat sunt nostrud amet.
      </p>
      <button>Download Resume</button>
    </div>
    <img
      src="../../../../public/profile.png"
      alt="profile image"
      width="243"
      height="243"
    />
  </div>
</div>

<style>
  .description-container {
    margin-top: 158px;
    display: flex;
    flex-direction: column;
    margin-left: 148px;
    margin-right: 148px;
    margin-bottom: 71px;
  }

  .description-text {
    display: flex;
    flex-direction: column;
  }

  .description-complete {
    display: flex;
    flex-direction: row;
  }

  h1 {
    font-size: 44px;
    margin-bottom: 40px;
    font-family: "Heebo-Bold";
  }

  p {
    font-size: 16px;
    margin-bottom: 38px;
    font-family: "Heebo-Regular";
  }

  img {
    margin-left: 106px;
  }

  button {
    width: 208px;
    height: 47px;
    font-size: 20px;
    border-radius: 2px;
    border: none;
    color: white;
    background-color: #ff6464;
    font-family: "Heebo-Medium";
    cursor: pointer;
  }
</style>
