---
import Layout from "../layouts/Layout.astro";
import Description from "../sections/home/Description.astro";
import FeaturedWorks from "../sections/home/featuredWorks/FeaturedWorks.astro";
import RecentPosts from "../sections/home/recentPosts/RecentPosts.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Simple Portfolio Desing">
  <main>
    <Description />
    <RecentPosts />
    <FeaturedWorks />
    <Footer />
  </main>
</Layout>

<style is:global>
  @font-face {
    font-family: "Heebo-Bold";
    src: url("../../../../public/heebo/Heebo-Bold.ttf");
  }

  @font-face {
    font-family: "Heebo-Regular";
    src: url("../../../../public/heebo/Heebo-Regular.ttf");
  }

  @font-face {
    font-family: "Heebo-Medium";
    src: url("../../../../public/heebo/Heebo-Medium.ttf");
  }
</style>
