<footer>
  <div class="img-container">
    <img src="../../public/fb.svg" alt="" class="fb" />
    <img src="../../public/insta.svg" alt="" class="ig" />
    <img src="../../public/Group.svg" alt="" class="tw" />
    <img src="../../public/Linkedin.svg" alt="" class="li" />
  </div>
  <div class="copyright-container">
    <p class="copyright">Copyright ©2020 All rights reserved</p>
  </div>
</footer>

<style>
  footer {
    margin-top: 51px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 148px;
    padding-right: 148px;
    align-items: center;
  }

  .fb,
  .ig,
  .tw,
  .li {
    margin-right: 35px;
    margin-bottom: 35px;
  }

  .fb {
    margin-left: 35px;
  }

  .copyright {
    font-size: 14px;
    font-family: "Heebo-Regular";
    color: #21243d;
  }

  .copyright-container {
    text-align: center;
    margin-bottom: 54px;
  }
</style>
