<div class="container">
  <img
    src="../../../../../public/Rectangle30.png"
    alt=""
    width="246"
    height="184"
  />
  <div class="text-container">
    <h1 class="title">Designing Dashboards</h1>
    <div class="date-tag">
      <span class="date">2020</span>
      <span class="tag"><p>Dashboard</p></span>
    </div>
    <p class="description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>
</div>
<div class="step"></div>

<style>
  .container {
    margin-bottom: 32px;
    margin-right: 148px;
    margin-left: 148px;
    display: flex;
  }

  .date-tag {
    display: flex;
    margin-bottom: 22px;
  }

  .date {
    margin-right: 35px;
    background-color: #142850;
    color: #fff;
    font-size: 18px;
    font-family: "Heebo-Black";
    width: 62px;
    height: 25px;
    border-radius: 16px;
    text-align: center;
  }

  .tag {
    font-size: 20px;
    font-family: "Heebo-Regular";
    color: #8695a4;
  }

  .step {
    margin-left: 148px;
    margin-right: 148px;
    height: 1px;
    width: calc(100% - 148px - 148px);
    background-color: #e0e0e0;
  }

  .text-container {
    margin-left: 18px;
  }

  .title {
    font-family: "Heebo-Bold";
    margin-bottom: 20px;
  }

  .description {
    font-family: "Heebo-Regular";
    font-size: 16px;
    color: #21243d;
  }
</style>
